<table class="table table-bordered">
  <thead>
    <tr>
      <th class="center-text">ID</th>
      <th class="center-text">Email</th>
      <th class="center-text">Admin</th>
      <th colspan="2" class="center-text">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <% if user.admin %>
        <tr>
          <td class="center-text"><%= user.id %></td>
          <td class="center-text"><%= user.email %></td>
          <td class="center-text">Sim</td>
          <td class="center-text"><%= link_to "Excluir", home_excluirUsuario_path(:id => user.id), method: :post, data: { confirm: 'Deseja realmente excluir o usuário?' }, remote: true %></td>
        </tr>
      <% else %>
        <tr>
          <td class="center-text"><%= user.id %></td>
          <td class="center-text"><%= user.email %></td>
          <td class="center-text">Não</td>
          <td class="center-text"><%= link_to "Excluir", home_excluirUsuario_path(:id => user.id), method: :post, data: { confirm: 'Deseja realmente excluir o usuário?' }, remote: true %></td>
        </tr>
      <% end %>

      <!--
      <tr>
        <td class="center-text"><%= user.id %></td>
        <td class="center-text"><%= user.email %></td>
        <td class="center-text">
        	<% if user.admin %>
        		Sim
        	<% else %>
        		Não
        	<% end %>
        </td>
        <td class="center-text"><%= link_to "Excluir", home_excluirUsuario_path(:id => user.id), method: :post, data: { confirm: 'Deseja realmente excluir o usuário?' }, remote: true %></td>
      </tr>
      -->

    <% end %>
  </tbody>
</table>
