<%= form_for(@registry) do |f| %>
  <% if @registry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registry.errors.count, "error") %> prohibited this registry from being saved:</h2>

      <ul>
      <% @registry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field_login">
    <%= f.label :nome, 'Nome' %><br>
    <%= f.text_field :nome, class: "form-control" %>
  </div>
  <div class="field_login">
    <%= f.label :idade, 'Idade' %><br>
    <%= f.number_field :idade, class: "form-control" %>
  </div>
  <div class="field_login">
    <%= f.label :data, 'Data do Cadastro' %><br>
    <%= f.text_field :data, class: "form-control" %>
  </div>
  <div class="field_login">
    <%= f.label :sexo, 'Sexo' %><br>
    <%= f.number_field :sexo, class: "form-control" %>
  </div>
  <div class="field_login">
    <%= f.label :registro, 'Registro Hospitalar' %><br>
    <%= f.number_field :registro, class: "form-control" %>
  </div>
  <div class="field_login">
    <%= f.label :tipoInsuficiencia, 'Tipo da Insuficiencia' %><br>
    <%= f.number_field :tipoInsuficiencia, class: "form-control" %>
  </div>
  <div class="field_login">
    <%= f.label :etiologia, 'Etiologia' %><br>
    <%= f.number_field :etiologia, class: "form-control" %>
  </div>
  <div class="field_login">
    <%= f.label :classFuncional, 'Classe Funcional' %><br>
    <%= f.number_field :classFuncional, class: "form-control" %>
  </div>
  <div class="field_login">
    <%= f.label :FEVE %><br>
    <%= f.number_field :FEVE, class: "form-control" %>
  </div>
  <div class="field_login">
    <!--<%= f.label :tempoUsado, 'Tempo Usado' %><br>-->
    <%= f.hidden_field :tempoUsado, class: "form-control" %>
  </div>
  <div class="field_login">
    <!--<%= f.label :score %><br>-->
    <%= f.hidden_field :score, class: "form-control" %>
  </div>
  <div class="field_login">
    <!--<%= f.label :serial %><br>-->
    <%= f.hidden_field :serial, class: "form-control" %>
  </div>
  <div class="field_login button_login">
    <%= f.submit "Confirmar", :class => 'btn btn-success' %>
  </div>
<% end %>
