<div class="container">
  <% if notice %>
    <div class="alert alert-success alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= notice %>
    </div>
  <% end %>
</div>

<div class="container login_box" style="width:375px;">
  <center>
    <!--<%= image_tag("/images/ic_amiic", size: "200x158", alt: "Logo AMIIC") %>-->
    <img src="/assets/ic_amiic.png" width="200" height="158" alt="Logo AMIIC" />
    <h3>AMIIC - HUOL</h3>
  </center>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field_login">
      <!-- <%= f.label :email %><br /> -->
      <%= f.email_field :email, autofocus: true, :placeholder => "Email", class: "form-control" %>
    </div>

    <div class="field_login">
      <!-- <%= f.label :password %><br /> -->
      <%= f.password_field :password, autocomplete: "off", :placeholder => "Senha", class: "form-control" %>
    </div>

    <!--
    <% if devise_mapping.rememberable? -%>
      <div class="field_login">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>
  -->

    <div class="field_login button_login">
      <%= f.submit "Login", :class => 'btn btn-success btn-block' %>
    </div>
  <% end %>
</div>

<!--
<%= render "devise/shared/links" %>
-->